@tailwind base;
@tailwind components;
@tailwind utilities;

.broker-home11{
    background-color: white;
    padding-top: 2.2rem;
    width: 20%;
}
.broker-home12,.broker-property12{
    width: 80%;
    background-color: #EFEFEF;
    padding: 2rem;
}
.broker-home121{
    width: 70%;
    margin-right: 10px;
}
.broker-home122{
    width: 30%;
    background-color: white;
    padding: 1rem;
    border-radius: 7px;
    margin-left: 10px;
}
.broker-home1211{
    background-color: white;
    margin-bottom: 20px;
    border-radius: 7px;
}
.broker-home1212{
    background-color: white;
    border-radius: 7px;
}
.broker-home12111{
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
    padding: 15px;
}
.broker-home12112{
    padding: 15px;
}
.broker-home12a{
    padding: 26px;
    width: 100%;
}
.broker-home12-border{
    border-left: 1px solid rgba(0, 0, 0, 0.096);
    border-right: 1px solid rgba(0, 0, 0, 0.096);
}
.broker-home12121{
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}
.broker-home-btn{
    padding: 4px 12px;
    border-radius: 7px;
}
.broker-home-btn1{
    background-color: rgb(236, 236, 236);
}
.broker-home-btn2{
    background-color: #1A7EC7;
    color: white;
}
.broker-home-table{
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
    padding: 22px 12px;
    justify-content: space-between;
}
.broker-home-table p{
    font-size: 12px;
}
.broker-home{
    min-height: 89vh;
}
.broker-home1{
    min-height: 89vh;
}
.broker-home111{
    padding-bottom: 7px;
    padding-left: 20px;
}
.broker-home-btn0{
    border: 2px solid #1A7EC7;
    border-radius: 40px;
    width: fit-content;
    padding: 6px 0px;
    padding-left: 8px;
    padding-right: 30px;
}
.broker-add{
    background-color: #1A7EC7;
    height: 35px;
    font-size: 31px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 7px;
}
.broker-home-btn0 p{
    color: #1A7EC7;
}
/* .broker-home-table11{
    margin-right: 20px;
} */
.broker-home12111 div{
    border: 2px solid gray;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
}
.broker-home111a:hover{
    color: #1A7EC7;
}
.broker-home-pill{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #ddeefc;
}
.broker-home-pill img{
    width: 11px;
    height: 13px;
}
.broker-home1221{
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}
.mark-a{
    border: 2px solid gray;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
}
.broker-home12221{
    background-color: #e9edf0;
    border-radius: 6px;
    margin-bottom: 13px;
    padding: 15px 12px;
}
.broker-home12221 div{
    border: 2px solid #1A7EC7;
    color: #1A7EC7;
    padding: 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    margin-right: 10px;
}
.broker-home1222 p{
    color: #1A7EC7;
}
.broker-home2-card{
    background-color: #e9edf0;
    border-radius: 6px;
}
.broker-home2-card .img{
    width: 80px;
    height: 80px;
}
.broker-home2-card .img img{
    width: 100%;
    height: 100%;
}
.broker-home2-card .text h5{
    color: black;
}
.broker-home2-card .text p{
    color: black;
}
.broker-side-bottom{
    color: #1A7EC7;
}
.broker-color1{
    color: #1A7EC7;
}
.broker-home12222{
    background-color: #e9edf0;
    padding: 15px 12px;
    border-radius: 6px;
    margin-bottom: 14px;
}

//============= Broker Property CSS===================
.broker-property12{
    background-color: #FFF!important;
    overflowY : 'scroll';
    height : 10px;
}
.broker-property121{
    width: 60%;
    margin-right: 10px;
}
.broker-property122{
    width: 40%;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 7px;
    margin-left: 10px;
}
.border-10{
    border-radius : 10px;
}

.height-max {
 height : 600px;
}

.stays {
    font-size : 24px;
    font-weight : 700;
    margin-bottom : 20px;
}

.filter-section{
    justify-content : space-between;
    
}

.filters{
    justify-content: flex-start;
    flex-wrap : wrap
}

.filter {
    justify-content : space-between;
    align-items : center;
    border : 1px solid #5E81F4;
    padding : 5px 10px;
    margin-right : 10px;
    margin-bottom : 10px;
}

.filter img{
    width : 12px;
    height : 12px;
    margin-left : 10px;
}

.filterIcon {
    width : 20px;
    height : 20px;
}
.properties{
    margin-top : 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    height : 450px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.properties::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.properties {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.property-card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding : 10px;
    border-radius : 10px;
    margin-top : 30px;
}

.property-card-img{
    height : 100%;
    
    background-color : #5E81F4;
    border-radius : 10px;
    margin-right : 10px;
}

.city-icon{
    height : 30px;
    width : 30px;
    border-radius : 30px;
    background-color : #5E81F4;
    margin-right : 10px;
}

.property-card-title{
    font-size : 16px;
    font-weight : 700;
}
.rating-section{
    align-items : center;
}
.rating-section p{
    font-size : 16px;
    margin-right : 10px;
}

.star-icon{
    height : 12px;
    width : 12px;
    margin-right : 5px;
}

.property-detail{
    font-size : 12px;
    margin : 5px 0px;
}