
.menuside{
    background-color: #c10100;
    width: 100vw;
}
.main{
    text-align: center;
    margin-top: 30px;
}
.admin-text{
    text-align: center;
    margin-top: 20px;
    font-family: "Bold";
    font-size: 30px;
}
.item-o{
    background-color: rgb(249, 244, 244);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: "Semi Bold";
    font-size: 18px;
  }
  .senu{
    font-family: "Semi Bold";
    font-size: 24px
  }
.load button{
    background-color: #0371c0;
    font-size: 14.5px;
    display: block;
    margin:20px auto;
    height: 40px;
    border: none;
    width: 180px;
    max-width: 100%;
    border-radius: 1px;
    color: white;
    font-family: "Bold Italic";
    letter-spacing: 0.04em;
    cursor: pointer;
}
.broker-text{
    margin-top: 20px;
    text-align: center;
}
.menu-item:hover{
    color: black;
}
.menu-item{
    color: #ffffff;
    font-family: "Semi Bold";
    font-size: 18px;
}
.menu-item:hover{
    background-color: #c10100 !important;
}
.admin-menu{
    background-color: #c10100;
    margin-top: 20px;
}
.broker-item{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(308px,1fr));
    justify-items: center;
    margin: 20px 0px;
}
.broker-card{
   width: 300px;
   max-width: 100%;
   overflow: hidden;
   height: 500px;
   box-shadow: 0 0 15px rgba(0,0,0,0.8);
   margin: 10px 0;
   position: relative;
   border-radius: 5px;
}

.broker-card p{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: #323232;
    margin: 15px 15px;
    font-family: "Regular";
    font-size: 16px;
}
.broker-card button{
    margin: 10px 15px;
    cursor: pointer;
    border: none;
    padding: 8px 20px;
    background-color: #c10100;
   color: #fff;
   font-family: "Bold Italic";
}
.broking-faram span{
    font-family: "Semi Bold";
    font-size: 16px;
}
.broking-faram h2{
    font-family: "Bold";
    font-size: 25px;
   margin: 20px 15px;
}
.individual-broker h2{
    font-family: "Bold";
    font-size: 25px;
   margin: 20px 15px;
}
.individual-broker span{
    font-family: "Semi Bold";
    font-size: 16px;
}
#fit{
    margin-top: 30px;
    background-color: rgb(146, 238, 146);
}
.no-broker{
    text-align: center;
    margin: 20px 0px;
}
.flertji p{
    font-size: 18px;
    color: #ffffff;
    font-family: "Semi Bold Italic";
   }
   .delete-all{
    margin: 20px;
   }
   .delete-all input{
    height: 20px;
    width: 20px;
    transform: translateY(5px);
    margin: 0 15px;
    cursor: pointer;
}
.delete-all span{
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 1.3px;
    font-family: "Semi Bold";
    font-size: 16px;
}
.delete-all button{
    border: 1px solid #c10100;
    background-color:#c10100 ;
    padding: 10px 25px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Semi Bold";
}
.broker-card input{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 1px;
}
.broking-faram img{
    max-width: 200px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 10px 15px;
}
.individual-broker img{
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    width: 100%;
    margin: 10px 15px;
}
